<section>
	<header>
		<h2 id="title">HangMan</h2>
	</header>
	
	<div class="row">
		<div class="hangman-letters">
			{{#each letters as |letter|}}
				{{hangman-letter letter=letter}}
			{{/each}}
		</div>
	</div>
</section>
